#video-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #000;
}

#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Maintain aspect ratio by setting both width and height to auto */
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Allows clicking through the canvas */
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#capturedImage {
    display: block;
    margin: 20px auto;
    border: 1px solid #000;
}

#captured-images img {
    display: block;
    margin: 10px auto;
    width: 300px;
    border: 1px solid #000;
}
