<!DOCTYPE html>
<html>
<head>
    <title>Web Camera</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Web Camera</h1>
    <div id="video-container">
        <video id="video" autoplay></video>
        <canvas id="grid" width="300" height="300"></canvas>
    </div>
    <div>
        <button id="startButton">Start Camera</button>
        <button id="stopButton">Stop Camera</button>
        <button id="captureButton">Capture Frame</button>
        <button id="processButton">Process Images</button>
        <a id="download-link" href="/download_ttf" style="display: none;" download="myfont.ttf">Download TTF</a>
    </div>
    <canvas id="canvas" style="display: none;"></canvas>
    <div id="captured-images">
        {% for file in files %}
            <img src="{{ url_for('static', filename='../captured_frames/' ~ file) }}" alt="Captured Frame" />
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='camera.js') }}"></script>
    <script src="{{ url_for('static', filename='grid.js') }}"></script>
    <script src="{{ url_for('static', filename='delete.js') }}"></script>
    <script>
        document.getElementById('processButton').addEventListener('click', function() {
            fetch('/process_images', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert('Error: ' + data.error);
                    } else {
                        document.getElementById('download-link').style.display = 'block';
                        alert('Processing complete. TTF file generated.');
                    }
                })
                .catch(error => {
                    alert('Request failed: ' + error);
                });
        });
    </script>
</body>
</html>
